/* CSS common to all platforms */

html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, sans;
}

#main {
    background: white;
    padding: 0;
}

#map {
    display: inline-block;
    vertical-align: top;
    border: 10px solid #aaa;
    margin: 20px;
}

#info {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}

#info #top {
    height: 60px;
}

#info > p:first-child {
    margin-top: 0;
}

#info #debug {
    color: #a00;
    font-style: italic;
    font-size: 12px;
}

#info #blurb {
    font-size: 12px;
}

#overlay {
    visibility: hidden;
    position: fixed;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.75;
    z-index: 2000 !important;
}

#credits {
    visibility: hidden;
    position: fixed;
    width: 500px;
    border: 10px solid #aaa;
    background: white;
    padding: 20px;
    margin: 0 auto;
    z-index: 2001 !important;
}

#credits #close {
    text-align: right;
}
