/* CSS for desktop browsers */

html, body {
    background: #ccc url("/static/blend.png") 50% repeat-y;
    height: 100%;
}

#main {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

#map {
    width: 512px;
    height: 512px;
}

#info {
    width: 300px;
    height: 532px;
    margin: 20px 0;
}

#info #debug {
    height: 388px;
}
