/* CSS for mobile browsers */

@media all and (orientation: portrait) {

    #map {
        width: 300px;
        height: 300px;
    }

    #info {
        width: 320px;
        height: 190px;
	margin: 0 20px !important;
    }

    #info #debug {
        height: 50px;
    }

    #credits {
	width: 200px !important;
    }

}

@media all and (orientation: landscape) {

    #map {
        width: 280px;
        height: 280px;
    }

    #info {
        width: 290px;
        height: 300px;
    }

    #info #debug {
        height: 150px;
    }
}
