<!DOCTYPE html>
<html>
  <head>
    <title>404 Not Found</title>
  </head>
<body>
  <h1>Not Found</h1>

  <p>The requested URL {{ request.path|escape }} was not found on this server.</p>

  <hr>
  <address>
    <a href="http://www.djangoproject.com/">Django - The Web framework for perfectionists with deadlines.</a>
  </address>
  </body>
</html>
