<!DOCTYPE html>{% load humanize %}
<html lang="en-GB">
  <head>
    <title>Postcodes</title>

    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if format == "mobile" %}    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
{% endif %}
    <!-- icons -->
    <link rel="icon" href="static/favicon.ico" sizes="16x16 32x32" type="image/vnd.microsoft.icon">
    <link rel="icon" href="static/favicon-64x64.png" sizes="64x64" type="image/png">
    <link rel="icon" href="static/favicon-128x128.png" sizes="128x128" type="image/png">
    <link rel="icon" href="static/favicon-256x256.png" sizes="256x256" type="image/png">
    <link rel="icon" href="static/apple-touch-icon-57x57.png" sizes="57x57" type="image/png">
    <link rel="icon" href="static/apple-touch-icon-72x72.png" sizes="72x72" type="image/png">
    <link rel="icon" href="static/apple-touch-icon-144x144.png" sizes="144x144" type="image/png">

    <!-- CSS -->
{% if format == "mobile" %}    <link rel="stylesheet" type="text/css" href="static/mobile.css">
{% else %}    <link rel="stylesheet" type="text/css" href="static/desktop.css">
{% endif %}    <link rel="stylesheet" type="text/css" href="static/common.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
    <link rel="stylesheet" href="static/MarkerCluster.css" />
    <link rel="stylesheet" href="static/MarkerCluster.Default.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
      <link rel="stylesheet" href="static/MarkerCluster.Default.ie.css" />
    <![endif]-->{% if debug %}
    <style type="text/css">

#info {
    background: #ffc;
}

#info #debug {
    background: #ffe;
}

    </style>{% endif %}

    <!-- JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script src="static/jquery.cookie.js"></script>
    <script src="static/jquery.onhashchange.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    <script src="static/leaflet.markercluster.js"></script>
    <script src="static/main.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="map"></div>
      <div id="info">
        <p id="top">
          Map centre: <span id="centre">lat, lon</span><br />
          Closest postcode: <span id="closest-postcode">N/A</span><br />
          Distance: <span id="closest-distance">N/A</span><br />
        </p>
        <form id="form" method="GET" action="">
          Search: <input id="search" type="text" size="8" />
        </form>
	<p id="debug"></p>
	<p id="blurb">
          {% if format == "desktop" %}<b>Desktop version</b> | <a href="javascript:set_format('mobile')">Mobile version</a>{% else %}<a href="javascript:set_format('desktop')">Desktop version</a> | <b>Mobile version</b>{% endif %} -
	  <a href="javascript:credits();">Credits</a>
	</p>
      </div>
    </div>
    <div id="overlay"></div>
    <div id="credits">
      <p>
        Map data
        &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>
        contributors.
      </p>
      <p>
        Boundary and postcode data
        &copy <a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/">Ordnance
        Survey</a>.
      <p>
	Map viewer is <a href="http://leafletjs.com/">Leaflet</a>.
      </p>
      <p>
        Other JavaScript and server code &copy; Mark Sheppard.
        Licensed
        under <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU
        AGPLv3</a>, source code available
        at <a href="https://bitbucket.org/markshep/django-proj-postcodes">Bitbucket</a>.
      </p>
      <div id="close">
        <button onclick="javascript:credits()">Close</button>
      </div>
    </div>
  </body>
</html>
